---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
---

<Layout title="Other Lecture Notes - Liuye Zhao">
    <Header />
    <main>
        <h1>Other Lecture Notes</h1>
        <p>Coming soon...</p>
    </main>
</Layout>

<style>
    main {
        max-width: 960px;
        margin: auto;
        padding: 3rem 1rem;
        text-align: center;
    }
</style>
